idea/
**/node_modules/
.parcel-cache
dist/
build/
.vscode
*.pem
*.crt
runtime/
BE/.env
BE/app/*/.js.map
BE/app/*/.d.ts
BE/app/*/.js
BE/server/*/.js.map
BE/server/*/.d.ts
BE/server/*/.js
BE/*.js
BE/*.js.map
BE/*.d.ts
!BE/gulpfile.js
BE/uploads/**
BE/alertTest.txt
BE/alert.txt
*.txt